HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

node_modules

src/main/resources/static/built/
deploy/dancier.key
deploy/dancier.key.pub
deploy/cloud-api-token
deploy/__pycache__/

dependency-reduced-pom.xml
.env

dancer-data
