openapi: 3.0.2
info:
  title: Dancier
  version: '1.0'
servers:
  - url: 'https://backend.dancier.net'
  - url: 'http://localhost:8080'
paths:
  /authentication/register:
    post:
      summary: starts user registrations process
      tags:
        - IAM
      description: Returns all pets from the system that the user has access to
      requestBody:
        description: contains the email and password for the user to be setup
        required: true
        content:
          application/json:
            examples:
              register_user:
                $ref: '#/components/examples/register_user'
            schema:
              $ref: '#/components/schemas/change_profile'
      responses:
        '201':
          description: In case the account could be created. The user still has to validate his email adresse.
        '409':
          description: In case the provided username or email-adress already exists
  /authentication/email/validate/{validationCode}:
    get:
      tags:
        - IAM
      parameters:
        - in: path
          name: validationCode
          schema:
            type: string
          required: true
          description: Numeric ID of the user to get
      description: validate
      responses:
        '301':
          description: if the validation happend
        '400':
          description: in case of any problems like, code not present, not correct...
  /authentication/email/validation:
    post:
      tags:
        - IAM
      description: creates email validation code and send it per mail
      requestBody:
        description: request to get a code send via email, so reset the password
        required: true
        content:
          text/plain:
            examples:
              create_email_validation_code:
                $ref: '#/components/examples/create_email_validation_code'
            schema:
              $ref: '#/components/schemas/create_email_validation_code'
      responses:
        '200':
          description: when the code could be generated
  /authentication/login:
    post:
      tags:
        - IAM
      description: The customer will be logged in. It ist necessary that the customer has already successfully validated his email-address.
      requestBody:
        description: attempt to login the user
        required: true
        content:
          application/json:
            examples:
              login_user:
                $ref: '#/components/examples/login_user'
            schema:
              $ref: '#/components/schemas/login_user'
      responses:
        '200':
          description: In case the login was successfull.
        '401':
          description: In case the provided credentials were not correct.
        '403':
          description: in case we have not validated the email yet.
  /authentication/password/reset:
    post:
      tags:
        - IAM
      description: send a mail to reset password
      requestBody:
        description: request a code to be send to the user via email to reset the passwort
        required: true
        content:
          text/plain:
            examples:
              create_password_reset_code:
                $ref: '#/components/examples/create_password_reset_code'
            schema:
                $ref: '#/components/schemas/create_password_reset_code'
      responses:
        '200':
          description: mail was send

  /authentication/password/reset/{validationCode}:
    get:
      tags:
        - IAM
      parameters:
        - in: path
          name: validationCode
          schema:
            type: string
          required: true
          description: the code to check that it is really the user with access to the mail account
      description: resets the password
      responses:
        '200':
          description: contains the new password
  /profile:
    get:
      summary: retrieves all the information that shows up in the profile
      tags:
        - Profile
      responses:
        '200':
          description: the information for the profile of the looged in user
    post:
      summary: change profile information of the user
      tags:
        - Profile
      requestBody:
        description: The complete information what should be shown in the profile
        required: true
        content:
          application/json:
            examples:
              change_profile:
                $ref: '#/components/examples/change_profile'
            schema:
              $ref: '#/components/schemas/change_profile'
      responses:
        '200':
          description: indicates that the request was successfull

components:
  examples:
    register_user:
      value:
        "email": "foo@bar.de"
        "password": "secrect"
    login_user:
      value:
        "email": "foo@bar.de"
        "password": "secret"
    create_email_validation_code:
      value:
        foobar
    create_password_reset_code:
      value:
        foobar
    change_profile:
      value:
        "bla": string
  schemas:
    change_profile:
      type: object
      properties:
        foo:
          type: string
    register_user:
      type: object
      properties:
        "email":
          type: string
        "password":
          type: string
    login_user:
      type: object
      properties:
        "email":
          type: string
        "password":
          type: string
    create_email_validation_code:
      type: string
    create_password_reset_code:
      type: string
    api_response:
      type: object
      properties:
        "success":
          type: boolean
        "messages":
          type: array
          items: {
            type: string
          }
    login_response:
      type: object
      properties:
        "accessToken":
          type: string
        "tokenType":
          type: string