body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Color definition
*/
.wine-red {
   background-color: #ef233c;
}

.warm-red {
   background-color:  #8d99ae;
}

.warm-orange {
    background-color: #edf2f4;
}

.page-container {
    background-color: #BBB;
    margin: 0;

}

.page-container::after {
    background-image: url(img/dance-grey.svg);
    background-repeat: no-repeat;
    background-position: 600px;
    background-position-y: center;
    background-size: 400px;
    background-position-y: 100px;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.page-content {
    max-width: 1000px;
    margin: auto;
}

.head {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.head img{
  display: inline;
  width: 150px;
}

.head .title {
    background-color: #fff;
    vertical-align: top;
    border-radius: 0px 0px 12px 12px;
    border-top: 0;
}

.head .menu {
    color: white;
    margin: 15px;
}

.head .menu a{
    padding-right: 30px;
    text-decoration: none;
    color: #d90429;
}

.head .title-text {
    width: 115px;
    margin: 15px 15px;
}

.head h1 {
    font-size: 100px;
    margin: 0;
}

.head h2 {
    font-size: 25px;
    margin: 15px;
}

.body-container {
}

.body-image {
        background-image: url(img/dance-grey.svg);
        background-repeat: no-repeat;
        background-size: 1200px;
        background-position: center;
        min-height: 1600px;
        padding-top: 360px;
}

.register-button-container{
    margin-top: 30px !important;
}

.register-container .register-button {
    font-size: 14px;
    font-weight: bold;
    display: block;
    background-color: #ef233c;
    margin: 0;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.register-container input{
    max-width: 200px;
    font-size: 14px;
}

.register-container h3{
    font-size: 100%;
}

.login-button {
    font-size: 30px;
    font-weight: bold;
}

.body-content {
    margin: 120px auto 245px auto;
}

.register-container {
    max-width: 480px;
    background-color:rgba(255, 255, 255, 0.9);
    padding: 30px;
    text-align: left;
    border-radius: 9px;
}

.site-image-row {
    height: 150px;
    color: white;
}

.site-image-col {
    padding: 30px;
    font-weight: bold;
}

.site-image-col-bright {
    color: black;
}

.register-container button {
    margin: 30px;
}

.footer {
    background-color: #d90429;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 30px;
    display: inline-block;
}

.footer-content {
    margin: auto;
    max-width: 800px;
}